html * {
	font-family: monospace !important;
}
body {
	margin: 0;
}

.banner {
	background-color: #fafafa;
	height: 200px;
}

img.site-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
}

p.blog_title, div.main_menu {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.main_menu p {
	display: inline;
	border-style: solid;
	margin: 5px;
	align: center;
}

div.main_menu a {
	text-decoration: none;
}
