<html>
	<head>
			<link rel="stylesheet" type="text/css" href="../static/style.css"/>
		<title>
			tam's blog 
		</title>
	</head>
	<body>
		<div id="container">
			<!-- HEADER -->
			<div id="header">
				Start From Scratch
			</div>

			<!-- CONTENT -->
			<div id="content">
				<!-- NAVBAR -->
				<div id="nav"> 
					<h3> Navbar </h3>
					<ul>
						<li> <a class="selected" href="#"> Home </a> </a></li>
						<li> <a href="#"> Computer Science</a></li>
						<li> <a href="#"> Daily Life </a></li>
						<li> <a href="#"> Projects </a></li>
						<li> <a href="#"> About me </a></li>
					</ul>
				</div>	

				<!-- MAIN -->
				<div id="main">
				 	<h2> Home page </h2>
					<p>  
						 _______
						< hello >
						 -------
								\   ^__^
								 \  (oo)\_______
									(__)\       )\/\
										||----w |
										||     ||
					</p>
					{% block content%}
					{% endblock %}
				</div>	
			</div>
			
			<!-- FOOTER -->
			<div id="footer">
				Copyright &copy; 2018 tamlt2704@gmail.com
			</div>
		</div>
	</body>
</html>
