<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
		<title> tam new 's blog </title>
	</head>
	
	<body>
		<div id="container">
			<div id="header">
				<img id="blog-icon" src="{{url_for('static', filename='images/unicorn-alpha.png')}}" /> 
				<p id="blog-title"> <a href="{{url_for('index')}}"> START FROM SCRATCH </a> </p>
				<p id="blog-author"> By tamlt2704 </p>
				<p id="blog-intro"> Learn by doing.  
					Learn by making mistakes. Learn from scratch. <br>
				</p>
				<div id="main-menu">
					<p> <a href="{{url_for('posts')}}"> Notes for Life </a> </p>
					<p> <a href="{{url_for('projects')}}"> Projects </a> </p>
					<p> <a href="{{url_for('photos')}}"> Photos </a> </p>
					<p> <a href="{{url_for('about')}}"> About me </a> </p>
				</div>
			</div>

			<div id="content">
				<div id="nav">
				</div>
				
				<div id="main">
					{%block content %}
					{% endblock %}
				</div>
			</div>

			<div id="footer">
				<div> Copyright &copy; tamlt2704. 2018 </div>
			</div>
		</div>
	</body>
</html>
